

<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PSLDOC3</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.ziqiangxuetang.com/media/django/csrf.js"></script>
<link href="static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<style>
	#title{
		font-weight: 900;
		padding-top: 20px;
	}
	.first, .first:before, .first:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.first {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.first:before, .first:after {
    position: absolute;
    top: 0;
    content: '';
}

.first:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.first:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
</style>
</head>
<body>
<div id="header-wrapper">
	<div id="header-wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Bioinformatics@CS.NCCU</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/home" accesskey="1" title="">Homepage</a></li>
					<li class="current_page_item"><a href="#" accesskey="2" title="">Projects</a></li>
					<li><a href="/history" accesskey="3" title="">History</a></li>
					<li><a href="/tutorial" accesskey="4" title="">Tutorial</a></li>
					<li><a href="http://www.changlabtw.com/contact-3287932097.html" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="loading" style="width:100%;height:30%;display:none;">
	<div class="first" style="top:35%;">Loading...</div>
</div>

<div style="width:80%; margin:0 auto;" id="wrapper">
	<div style="width:90%;margin:0 auto;" class="form">
		<form enctype="multipart/form-data" action="" name="myForm" method="POST" >
			{% csrf_token %}
			<h1 id="title"> PSLDoc3 </h1>
			<small style="display:block;color: #999;font-size: 13px;font-style: italic;font-weight: 300;"><span>Applying Data Science to Subcellar Localization Prediction</span></small>
			<div class="form-group">
				<!-- <i class="material-icons" title="Predict GO terms for a protein sequence. Please paste your sequence in fasta format.">new_releases</i> -->
				<label for="comment" style="margin-top:10px;">1.Sequence Input
					<small style="display:block;color: #999;font-size: 13px;font-style: italic;font-weight: 300;"><span>Predict GO terms for a protein sequence. Please paste your sequence in fasta format.</span></small>
				</label>
				<div class="input" >
					<textarea value="" class="form-control" rows="5" name="comment" id="sequence" placeholder="Paste your sequence"></textarea>
				</div>
				<h5 style="display:inline;"><a class="button" id="addsample" onclick="addsample()" style="cursor: pointer;padding: 5px 10px !important;margin-top:10px !important;">add sample</a></h5>
				<label for="input_file" id="input_files">
					<input id ="input_file"name="input_file" type="file" accept=".fasta"  multiple style="display:none">
					<small style="display:block;">
						<h5 style="display:inline;">  Or  <a class="button" style="cursor: pointer;padding: 5px 10px !important;margin-top:10px !important;">Choose file </a> <h6 id="chfile"></h6></h5>
					</small>
				</label>
			</div>
			<script>
				document.getElementById("input_file").onchange = function() {
					document.getElementById("chfile").innerHTML = this.value;
				};
			</script>
			<div class="form-group">
				<label for="type" >2.Predict Type
					<small style="display:block;color: #999;font-size: 13px;font-style: italic;font-weight: 300;"><span>Select which category you want to predict</span></small>
				</label>
				<div class="input">
					<select name='type' style="color:gray;">
						<option value="euk">Eukaryotes 真核生物</option>
						<option value="prok">Prokaryotes 原核生物</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<!-- <i class="material-icons" title="Please enter your email.">new_releases</i> -->
				<label for="email">
					3.Your Email(Optional)
					<small style="display:block;color: #999;font-size: 13px;font-style: italic;font-weight: 300;"><span>Specify your email address if your want to be notified on prediction completion (optional)</span></small>
				</label>
				<div class="input">
					<input id="email" type="email" class="form-control" name="email" placeholder="example@gmail.com(optinal)" >
				</div>
			</div>

			<div class="input">
				<input  style="padding: 10px 20px !important;margin-top:5px !important;margin-bottom:10px;" type="submit" value="Submit" class="submit button">
			</div>

		</form>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; ChangLab. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
<script>
	console.log("hi")
	var maxNum = 100000;
	var minNum = 1;
	var temp = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;
	document.myForm.attributes["action"].value = "/result?id=" + temp;
	$(document).ready(function(){
		$('body').on('click','.submit',function(){
			$('#loading').show();
			$('#wrapper').hide();
		})
	})
	document.getElementById("input_file").onchange = function() {
		var file = document.getElementById("input_file").files[0];
		if (file) {
		    var reader = new FileReader();
		    reader.readAsText(file, "UTF-8");
		    reader.onload = function (evt) {
		        document.getElementById("sequence").innerHTML = evt.target.result;
		    }
		    reader.onerror = function (evt) {
		        document.getElementById("sequence").innerHTML = "error reading file";
		    }
		}
	}
	function addsample() {
		document.getElementById("sequence").value =
			">A0A098\nMASMAAELRPSDGGSSLHMLDSLLMMGLSSGGGVGGGGSSQSQILDSAGAAELAALLLPQHSNDPLHLMS\nTGDAALGLAGPMAAAEHHQHHPHHQHHSVPATAGFPSQTPPPPLFSNATAGAAPATRVRAAGSCGSGGVA\nGGTTSHSSEDGVFHSADPHHHHQQHLQQPQPQQQQQQQQQPQHQQQQQQQQQQQPQQPQFHHHQPQQHQA\nQQAVAATAPAAAADHLFLPPAAAGAAGQQQAGWGAATGAHLFHSDAPNRPNGPKTPTNRNGYAMKPPPPA\nAAAAVMSGHAMAASGVVAGRGGGGGGCDAEEDELTFAAAAAAEVSSDDEVMGGRGGAVMGRAAVGGFRTP\nAPAPASAGAAVNVAAAAPAAPAGTWVPKGKPAVEVSAWAPAPAAPVAAAAAAAVAVSPTVAAFAAAPVVE\nAVALVRSQQRQEQEHQLVQVAAAEQQDQQQAKRPVRSSRRRAQESQQAAAEAQQAAQQAAAAQQQQQHTG\nSGNIVGDKQGKPQGGLQQGRPVATQPSPPPPAVATAAAAAAATAPVATAPVATVATAATADTMPQRLTAV\nQQHEAYPAVVRGTLDVRKACLPRFPLVAREQAEAELQSVATAALQQAAAAPGASAAVTAAAAAAAAAATA\nAGEGKAGEGKAATARRGGRGAAEAEAAAALPAVGASGNPGLDEAMGAYVRVAALYGDEAAAAVAECESLM\nADFDNKLQLGNLATTFAAAASPTAAASGRARGGARSGGVGGGGTKRVASGANASGANSSGMSGGGGGDSA\nGAEAAAGDEMEWAPGATSVDTATGGADDEDGEEEEGQQPGGAAAAAAVAAAGGEASQLAASIAATYGSQL\nVQVAASLAQRPKVGKLPPAATQLLKGWWDDNFVWPYPSEEDKKQLGEAAALNNTQINNWFINQRKRHWHK\nHFPNRRPPSTREEAERLLRAAGAI";
	}
</script>
</body>
</html>
