<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Mariposa
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130623

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PSLCNN</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="header-wrapper">
	<div id="header-wrapper2">
		<div id="header" class="container" >
			<div id="logo">
				<h1><a href="#">PSLCNN</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/home" accesskey="1" title="">Homepage</a></li>
					<li><a href="/project" accesskey="2" title="">Projects</a></li>
					<li class="current_page_item"><a href="/history" accesskey="3" title="">History</a></li>
					<li><a href="/tutorial" accesskey="4" title="">Tutorial</a></li>
					<li><a href="http://www.changlabtw.com/contact-3287932097.html" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div style="width:80%; margin:0 auto;" id="wrapper">
	<div  id="page" class="container"  style="width: auto !important;padding:unset !important;">
		<div style="margin:0 auto;float:none;" id="content">
			<table >
				<tr>
					<th>Userid</th>
					<th style="padding-right: 150px;">Email</th>
					<th style="padding-right: 20px;">Uploadfile</th>
					<th style="padding-right: 20px;">Uploadfile Size</th>
					<th style="padding-right: 20px;">Uploadfile Time</th>
					<th>Resultfile</th>
				</tr>
				{% for k in i %}
				<tr>
					<td> {{k.user_id}} </td>
					<td> {{k.email}} </td>
					<td><a href="/history/download_file?user_id={{k.user_id}}&id={{k.filename}}&type=Upload" download="Uploadfile.txt" id="download">Uploadfile</a> </td>
					<td> {{k.size}} bytes </td>
					<td> {{k.time}} </td>
					<td><a href="/history/download_file?user_id={{k.user_id}}&id={{k.filename}}&type=Output" download="Resultfile.txt" id="download">Resultfile</a> </td>
				</tr>

				{% empty %}
				<p> No History</p>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

<div id="copyright" class="container">
	<p>&copy; ChangLab. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
